# This is a sample file for the configuration used by the bot.
# Copy this file to config.toml and insert the correct values for each of the fields.

# The ID of the guild this bot will be used in.
guild = "1234567"

[welcome]
# The ID of the channel used for the welcome message.
channel = "1234567"
# The path to the file that contains the text used for the message in the welcome channel.
file = "welcome.txt"
# A welcome message can also be specified inline. If this option is used, it will override the file.
#text = "This is a welcome message!"

[ebas]
url = "https://ebas.<something>.se/apis"

[member]
role = "<role id>"

[member.permission]
purge = [{ role = "<role id>" }, { user = "<user id>" }]