# This is a sample file for the secrets used by the bot.
# Copy this file to secrets.toml and insert the correct values for each of the fields.
# DO NOT COMMIT THE REAL SECRETS
token = "INSERT TOKEN HERE"
application_id = "INSERT APPLICATION ID HERE"
public_key = "INSERT PUBLIC KEY HERE"