# This is a sample file for the secrets used by the bot.
# Copy this file to secrets.toml and insert the correct values for each of the fields.
# DO NOT COMMIT THE REAL SECRETS

[discord]
token = "INSERT TOKEN HERE"
application = "INSERT APPLICATION ID HERE"

[ebas]
api_key = "INSERT API KEY HERE"
id = "INSERT F-ID HERE"